<div class="usa-footer-secondary_section usa-footer-big-secondary-section">
    <div class="usa-grid">
        <div class="usa-footer-logo usa-width-one-half">
            <img src="/resources/images/logos/logo-MedicaidGov.svg" alt="Medicaid.gov: Keeping America Healthy">
            <h3 class="usa-footer-big-logo-heading">Centers for Medicare &amp; Medicaid Services</h3>
        </div>
        <div class="usa-footer-contact-links usa-width-one-half">
            <a href="https://twitter.com/cmsgov" title="CMS Twitter - Opens in a new window" target="_blank">
                <i title="Twitter" class="fa fa-twitter fa-lg"></i>
            </a> <a class="externalLinkIcon" href="https://www.cms.gov/About-CMS/Agency-Information/Aboutwebsite/External-Link-Disclaimer.html" target="_blank" title="External Link Policy - Opens in a new window"> <i class="fas fa-external-link-alt fa-xs"></i></a>
            <a href="http://www.youtube.com/user/CMSHHSgov" title="CMS YouTube - Opens in a new window" target="_blank">
                <i title="YouTube" class="fa fa-youtube fa-lg"></i>
            </a> <a class="externalLinkIcon" href="https://www.cms.gov/About-CMS/Agency-Information/Aboutwebsite/External-Link-Disclaimer.html" target="_blank" title="External Link Policy - Opens in a new window"><i class="fas fa-external-link-alt fa-xs"></i></a>
            <div class="usa-footer-contact-heading">
                <p>A federal government managed website by the<br>Centers for Medicare &amp; Medicaid Services.<br>7500 Security Boulevard Baltimore, MD 21244</p>
            </div>
        </div>
    </div>
</div>