<div class="usa-banner">
    <div class="usa-banner-inner">
        <img src="/themes/custom/medicaid/images/favicons/small_us_flag.png" alt="U.S. Flag">
        <p>An official website of the United States government</p>
    </div>
</div>